@font-face {
  font-family: 'pixelify-Regular';
  src: url('../PixelifySans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'pixelify-Medium';
  src: url('../PixelifySans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'pixelify-SemiBold';
  src: url('../PixelifySans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'pixelify-Bold';
  src: url('../PixelifySans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
